<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="bar" id="bar">
      <a href="" id="van-a"> Blog </a>
      <a href=""> Proje </a>
      <a href="" id="the-a"> About </a>
    </div>

    <img
      alt="Picture of the author"
      fetchpriority="high"
      loading="eager"
      width="600"
      height="600"
      decoding="async"
      data-nimg="1"
      class="flex justify-center items-center select-none fixed z--10 opacity-100"
      style="color: transparent"
      src="https://www.sametcc.me/blobanimation.svg"
    />

    <p id="dynamicText">This is a centered paragraph on top of the image.</p>
    <div class="text-container">I'm a Web Developer from Turkey</div>
    <div class="button-container">
      <button><i class="fa-brands fa-discord"></i></button>
      <button><i class="fa-brands fa-github-alt"></i></button>
      <button><i class="fa-solid fa-at"></i></button>
    </div>
  </body>

  <div class="proje">
    <% if (repositories !== null) { %>
    <ul>
      <% repositories.forEach(repo => { %>
      <li class="project">
        <div class="project-top">

          <div class="project-top-in">
            <div class="top-in">
              <h1><%= repo.name %></h1>
              <div class="top-in-bottom" style="display: none;">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv" viewBox="0 0 24 24">
                    <path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
                </svg>                <%= repo.stargazersCount %>
              </div>
            </div>
          </div>
          <div class="top-right">
            <div class="flex-container">
                <div class="button-container-get">
                  <a href=" <%= repo.homepage %>" target="_blank" class="button-get demo">Demo<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium text-sm fill-white css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="OpenInNewIcon"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path></svg></a>
                </div>
                <div class="button-container-get">
                  <a href=" <%= repo.url %>" target="_blank" class="button-get source-code">Source Code<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium text-sm fill-white css-vubbuv" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="GitHubIcon"><path d="M12 1.27a11 11 0 00-3.48 21.46c.55.09.73-.28.73-.55v-1.84c-3.03.64-3.67-1.46-3.67-1.46-.55-1.29-1.28-1.65-1.28-1.65-.92-.65.1-.65.1-.65 1.1 0 1.73 1.1 1.73 1.1.92 1.65 2.57 1.2 3.21.92a2 2 0 01.64-1.47c-2.47-.27-5.04-1.19-5.04-5.5 0-1.1.46-2.1 1.2-2.84a3.76 3.76 0 010-2.93s.91-.28 3.11 1.1c1.8-.49 3.7-.49 5.5 0 2.1-1.38 3.02-1.1 3.02-1.1a3.76 3.76 0 010 2.93c.83.74 1.2 1.74 1.2 2.94 0 4.21-2.57 5.13-5.04 5.4.45.37.82.92.82 2.02v3.03c0 .27.10.64.73.55A11 11 0 0012 1.27"></path></svg></a>
                </div>
              </div>
              
          </div>
        </div>
       
        <div class="description"> <%= repo.description %></div>
<div class="project-bottom">
    <div class="bottom-top">
        <a class="launge"><span><strong>Language</strong></span>: <%= repo.dil %></a>
 
                <a class="create" data-date="<%= repo.eklenme %>"></a>
                <a class="update" data-date="<%= repo.guncleme %>"></a>
   
        <script>
        document.addEventListener('DOMContentLoaded', function () {
    const createLink = document.querySelector('.create');
    const updateLink = document.querySelector('.update');

    const createDate = new Date(createLink.getAttribute('data-date'));
    const updateDate = new Date(updateLink.getAttribute('data-date'));

    createLink.innerHTML = '<span><strong>Created at</strong></span>: ' + formatDate(createDate);
    updateLink.innerHTML = '<span><strong>Last update</strong></span>: ' + formatDate(updateDate);

    function formatDate(date) {
        const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
        return date.toLocaleDateString('en-US', options).replace(',', ' ');
    }
});

        </script>
        
    </div>
</div>
      </li>
      <% }); %>
    </ul>
    <div id="repo-details-container"></div>
    <% } else { %>
    <p>No repositories found for the given username.</p>
    <% } %>
  </div>

  <script src="/js/hello.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var projeSection = document.querySelector(".proje");
      var lastScrollTop = 0;

      window.addEventListener("scroll", function () {
        var scrollTop = window.scrollY || document.documentElement.scrollTop;

        if (scrollTop > lastScrollTop) {
          // Sayfa aşağı kaydırılıyor
          projeSection.classList.add("show"); // Add the 'show' class to display the proje section
        } else {
          // Sayfa yukarı çekiliyor
          projeSection.classList.remove("show"); // Remove the 'show' class to hide the proje section
        }

        lastScrollTop = scrollTop;
      });
    });
  </script>
</html>
